<!doctype html>
<html ng-app="pirriweb" ng-cloak="true">
    <head>
        <title>Pirri Scheduler</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/style.css">
        <!-- angular slider -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.5.0/rzslider.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-datetimepicker/1.1.2/css/datetimepicker.css" />
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-datetimepicker/1.1.2/js/datetimepicker.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-datetimepicker/1.1.2/js/datetimepicker.templates.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    </head>
    <body>
        <div ng-controller="PirriControl as pc">
            <div id="station-schedules">
                <section>
                    <h1>Pirri Scheduler - Stations</h1>
                    <div  class="tbl-header">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <thead>
                                <th>Station ID</th>
                                <th>Last Run</th>
                                <th>Next Run</th>
                                <th>GPIO</th>
                                <th>Location</th>
                                <th>Notes</th>
                                <th>History</th>
                                <th>Run Stats</th>
                            </thead>
                        </table>
                    </div>
                    <div class="tbl-content">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Monday at 1000</td>
                                    <td>Wednesday at 0630</td>
                                    <td>99</td>
                                    <td>B1</td>
                                    <td>Back yard drip line - flower pots and trees</td>
                                    <td><a href="#">[HISTORY]</a></td>
                                    <td><a href="#">[STATS]</a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Monday at 1000</td>
                                    <td>Wednesday at 0630</td>
                                    <td>99</td>
                                    <td>B2</td>
                                    <td>back lawn left</td>
                                    <td><a href="#">[HISTORY]</a></td>
                                    <td><a href="#">[STATS]</a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Monday at 1000</td>
                                    <td>Wednesday at 0630</td>
                                    <td>99</td>
                                    <td>B3</td>
                                    <td>back lawn right</td>
                                    <td><a href="#">[HISTORY]</a></td>
                                    <td><a href="#">[STATS]</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <div class="made-with-love">
                    Made with <i>♥</i> by
                    <a target="_blank" href="">Joe Vacovsky</a>
                </div>
                
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.5.0/rzslider.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.2.0/bootstrap-slider.min.js"></script>
    <script src="/static/app.js"></script>
    <script src="/static/table.js"></script>
</html>