<!doctype html>
<html ng-app="pirriweb" ng-cloak="true">
    <head>
        <title>Pirri</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/style.css">
        <!-- angular slider -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
        <link rel="icon" href="static/icon.png">
    </head>
    <body>
        <div ng-controller="PirriControl as pc">
            <div id="station-schedules">
                <section>
                    <div id="nav">
                        <h1 id="schedtitle"><img src="static/icon_text.png"></h1>
                        <div id="searchTextDiv" class="col-sm-3 pull-right">
                            <p><input type="text" id="searchText" ng-model="searchText" placeholder="Search stations..." class="form-control col-sm-2" ng-change="pc.filterForKeys(searchText)"></p>
                        </div>
                        <div id="navicons">
                            <div>
                                <a href><span class="glyphicon glyphicon-home" ng-click="pc.setPage('home')"></span></a>
                                <a href><span class="glyphicon glyphicon-refresh" ng-click="pc.loadStations()"></span></a>
                                <a href><span class="glyphicon glyphicon-plus" ng-click="pc.setPage('add')"></span></a>
                                <a href><span class="glyphicon glyphicon-time" ng-click="pc.setPage('history')"></span></a>
                                <a href><span class="glyphicon glyphicon-stats" ng-click="pc.setPage('stats')"></span></a>
                                <span id="navTitle"> - {[navTitle]}</span>
                            </div>
                        </div>
                    </div>
                    <!-- START STATIONS LIST -->
                    <div ng-show="showHome">
                        <div class="tbl-header">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                    <th class="col-md-1">Station</th>
                                    <th class="col-md-3">Last Run</th>
                                    <th class="col-md-3">Next Run</th>
                                    <th class="col-md-1">GPIO</th>
                                    <th class="col-md-3">Notes</th>
                                    <th class="col-md-1">Controls</th>
                                </thead>￼
                            </table>
                        </div>
                        <div class="tbl-content">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                    <tr ng-repeat="station in stations" ng-hide="showSearchResults">
                                        <td class="col-md-1">{[station.sid]}</td>
                                        <td class="col-md-3">???????</td>
                                        <td class="col-md-3">???????</td>
                                        <td class="col-md-1">{[station.gpio_pin]}</td>
                                        <td class="col-md-3">
                                            {[station.notes]}
                                            <div class="dropdown" ng-show="singleRunModel.sid == station.sid">
                                                <button ng-hide="singleRunModel.duration != undefined" class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">0 min</button>
                                                <button ng-show="singleRunModel.duration != undefined" class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">{[singleRunModel.duration]} min</button>
                                                <ul class="dropdown-menu">
                                                    <li ng-repeat="interval in durationIntervals" ng-click="singleRunModel.duration = interval * 60; pc.submitSingleRun()"><a href="#">{[interval]} min</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td class="col-md-1">
                                            <a href="#"><span class="glyphicon glyphicon-time"></span></a>
                                            <a href="#"><span class="glyphicon glyphicon-stats"></span></a>
                                            <a href="#"><span ng-hide="singleRunModel.sid == station.sid"" ng-click="singleRunModel.sid = station.sid; singleRunModel.sid = station.sid;" class="glyphicon glyphicon-play"></span></a>
                                            <a href="#"><span ng-show="singleRunModel.sid == station.sid"" ng-click="singleRunModel.sid = undefined; singleRunModel.duration = undefined;" class="glyphicon glyphicon-stop"></span></a>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="station in searchResults" ng-show="showSearchResults">
                                        <td><a href="#"> {[station.sid]} <span class="glyphicon glyphicon-cog"></span></a></td>
                                        <td>???????</td>
                                        <td>???????</td>
                                        <td>{[station.gpio_pin]}</td>
                                        <td>
                                            {[station.notes]}
                                        </td>
                                        <td><a href="#"><span class="glyphicon glyphicon-time"></span></a></td>
                                        <td><a href="#"><span class="glyphicon glyphicon-stats"></span></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END STATIONS LIST -->
                    <!-- START HISTORY -->
                    <div ng-show="showHistory">
                        <div class="tbl-header">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                    <th class="col-md-1">Station</th>
                                    <th class="col-md-1">History</th>
                                    <th class="col-md-3">Started</th>
                                    <th class="col-md-2">Duration</th>
                                    <th>Scheduled</th>
                                    <th>Schedule ID</th>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-content">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                    <tr ng-repeat="hist in history">
                                        <td class="col-md-1">{[hist.sid]}</td>
                                        <td class="col-md-1">{[hist.id]}</td>
                                        <td class="col-md-3">{[pc.prettyTime(hist.starttime)]}</td>
                                        <td class="col-md-2">{[hist.duration / 60]} minutes</td>
                                        <td>{[hist.schedule_id != 0]}</td>
                                        <td>{[hist.schedule_id]}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- START HISTORY -->
                    <!-- START STATION EDIT FORM -->
                    <div id="addform" ng-show="showEditStation">
                        <form class="form-horizontal">
                            <!-- make me an interactive svg if you're cool -->
                            <div ng-show="addMessage">{[gpio_add_model.message]}</div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="gpiobutton">GPIO:</label>
                                <div id="gpiobutton" class="dropdown col-sm-8">
                                    <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">{[edit_station_model.GPIO]}</button>
                                    <span class="caret"></span> <a href="#" ng-click="show_gpio_diagram = !show_gpio_diagram">[show diagram]</a>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="gpio in gpio_pins" ng-click="edit_station_model.GPIO = gpio.gpio"><a href="#">{[gpio.gpio]} - {[gpio.notes]}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="notes">Notes:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="notes" placeholder="{[edit_station_model.notes]}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-8">
                                    <div class="checkbox">
                                        <label><input type="checkbox"> Enabled</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-8">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </div>
                        </form>
                        <center>
                        <img id="gpiodiag" ng-show="show_gpio_diagram" src="static/gpio_layout.png" height="300" width="900">
                        </center>
                    </div>
                    <!-- END STATION EDIT FORM -->
                    <!-- START ADD STATION FORM -->
                    <div id="addform" ng-show="showAdd">
                        <form class="form-horizontal">
                            <!-- make me an interactive svg if you're cool -->
                            <div ng-show="addMessage">{[gpio_add_model.message]}</div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="gpiobutton">GPIO:</label>
                                <div id="gpiobutton" class="dropdown col-sm-8">
                                    <button ng-show="gpio_add_model.GPIO != undefined" class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">GPIO: {[gpio_add_model.GPIO]}</button>
                                    <button ng-hide="gpio_add_model.GPIO != undefined" class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">GPIO: {[gpio_add_model.default_message]}</button>
                                    <span class="caret"></span> <a href="#" ng-click="show_gpio_diagram = !show_gpio_diagram">[show diagram]</a>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="gpio in gpio_pins" ng-click="pc.setGPIO(gpio.gpio)"><a href="#">{[gpio.gpio]} - {[gpio.notes]}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="notes">Notes:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="notes" placeholder="Any notes regarding this station.">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-8">
                                    <div class="checkbox">
                                        <label><input type="checkbox"> Enabled</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-8">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </div>
                        </form>
                        <center>
                        <img id="gpiodiag" ng-show="show_gpio_diagram" src="static/gpio_layout.png" height="300" width="900">
                        </center>
                    </div>
                    <!-- END ADD STATION FORM -->
                </section>
            </section>
            <div class="made-with-love">
                Made with <i>♥</i> by
                <a target="_blank" href="">Joe Vacovsky Jr.</a>
            </div>
            
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.5.0/rzslider.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.2.0/bootstrap-slider.min.js"></script>
<script src="/static/app.js"></script>
<script src="/static/table.js"></script>
</html>